#hero .container { min-height: 60vh;}

.botoes{
    width: 100%;
    height: 250px;
    display: flex;
    place-items: center;
    justify-content: center;
    margin: 0 auto;
}
.botao-festa{
    color: white;
    border: 0;
    display: inline-block;
    width: 15%;
    border-radius: 8px;
    padding: 20px;
    height: 30vh;
    background: rgba(10, 10, 10, 0.3);
    margin:10px 8px;
    cursor: pointer;
    transition: 0.5s;
    max-width: 300px;
}
.botao-festa h2{
    font-size: 15pt;
    z-index: 2;
}
.botao-festa p {
    color: white;
    z-index: 2;
}
/*Festas*/
#taber{
    background-image: url(../img/tabernaculos/taber2019.jpg);
    background-color: rgba(0, 0, 0, 0.7);

    background-repeat: no-repeat;
    background-size: 100% 33vh;
    z-index: 0;
    background-blend-mode: color-burn;

}
#luz{
    background-image: url(../img/luzes/festaluzes.jpg);
    background-color: rgba(0, 0, 0, 0.7);

    background-repeat: no-repeat;
    background-size: 101% 33vh;
    z-index: 0;
    background-blend-mode: color-burn;

}
#g12{
    background-image: url(../img/g12/caravanag12.jpg);
    background-color: rgba(0, 0, 0, 0.7);
    background-repeat: no-repeat;
    background-size: 100% 33vh;
    z-index: 0;
    background-blend-mode: color-burn;
}
#acampa{
    background-image: url(../img/acampa/acampa2019.jpg);
    background-color: rgba(0, 0, 0, 0.7);
    background-repeat: no-repeat;
    background-position-x: -35px;
    background-size: 120% 33vh;
    z-index: 0;
    background-blend-mode: color-burn;
}
#paint{
    background-image: url(../img/paintball/paintball.jpg);
    background-color: rgba(0, 0, 0, 0.7);
    background-repeat: no-repeat;
    background-position-x: -35px;
    background-size: 120% 33vh;
    z-index: 0;
    background-blend-mode: color-burn;
}
#cha{
    background-image: url(../img/chaMulheres/chaMulheres.jpg);
    background-color: rgba(0, 0, 0, 0.7);
    background-repeat: no-repeat;
    background-size: 101% 33vh;
    z-index: 0;
    background-blend-mode: color-burn;
}

.botao-festa:hover{
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(10, 10, 10, 0.7),
                0 0 25px rgba(10, 10, 10, 0.7),
                0 0 50px rgba(10, 10, 10, 0.7);
    
   
}
/*Modal das festas*/
.modal{
    background-color: #0E0A14ef;
    height: 600px;
    width: auto;
    position: fixed;
    top: 2vh;
    left: calc(50% - 250px);

    padding: 30px 20px 20px 20px;

    display: flex;

    align-items: top;
    justify-content: center;

    transition: 800ms;
    z-index: 999;
    border-radius: 8px;

    overflow: auto;
}
div.modal.hide{
    display: none;
}
div.modal div.conteudo{
    width: 500px;
}

.modal .conteudo p, .modal .conteudo .header h1 {
    color: white;
}
.modal .header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-bottom: 20px;
}
.modal .header a{
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 20pt;
}
.modalConteudo .fotosFestas{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 8px;
   padding: 20px;
}
.modalConteudo .fotosFestas img{
    width: 100%;
    
    height: 200px;
    border-radius: 8px;
    
}

.conteudo .texto > p{
    font-size: 13pt;
    text-align: justify;
}

.conteudo .texto > p > a{
    text-align: center;
    display: inline-block;
    padding: 8px;
    border-radius: 8px;
    
    transition: 500ms ease;
    font-weight:  700;
    color: white;
    text-decoration: none;
    font-size: 10pt;
    /*border: 1px solid white;*/
}
.conteudo .texto > p > a:hover{
    background-color: white;
    color: black;
}

/*Botão fechar da modal*/
a#fechar{
    transition: 0.5s ease;
}
a#fechar:hover{
    color:  #0099ff;
}


@media (max-width: 1000px){
    .botoes{
        display: block;
    }
    .botao-festa{
        width: 50%;
        height: 12vh;
        
    }
    
    .botao-festa h2{
        font-size: 1.5rem;
    }
    .botao-festa p{
        font-size: 1.5rem;
    }
   
}
@media (max-width: 768px){
    #acampa, #paint{
        display: block;
        margin: 10px auto;
    }
    .modal{
        display: none;
    }



}